.faq {
  margin-top: 16rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--clr-default-900);

  @media (max-width: em(992)) {
    margin-top: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__title {
    padding-bottom: 2rem;
    text-align: center;
    color: var(--clr-primary-400);
  }

  &__subtitle {
    padding-bottom: 12rem;
    text-align: center;
    color: var(--clr-default-100);

    @media (max-width: em(992)) {
      padding-bottom: 6rem;
    }

    @media (max-width: em(767)) {
      padding-bottom: 3rem;
    }
  }

  &__list {
    display: grid;
    grid-gap: 2.5rem 4.8rem;
    grid-template-columns: 1fr 1fr;

    @media (max-width: em(767)) {
      display: block;
      grid-gap: initial;
    }
  }

  &__item {
    border-bottom: 0.1rem solid var(--clr-default-200);
    padding-bottom: 5rem;
    transition: padding-bottom var(--transition);

    @media (max-width: em(992)) {
      padding-bottom: 3rem;
    }

    @media (max-width: em(575)) {
      padding-bottom: 1rem;
    }

    &-title {
      position: relative;
      padding-right: 3.5rem;
      padding-bottom: 1rem;
      width: 100%;
      font-weight: 700;
      font-size: fluid-font(2.4rem, 1.8rem);
      line-height: 135%;
      color: var(--clr-default-100);
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 1.3rem;
        height: 0.8rem;
        background-image: url("../img/ui/faq-arrow.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(0);
        transition: transform var(--transition);
      }
    }

    &-body {
      overflow: hidden;
      max-height: 0;
      box-sizing: content-box;
      line-height: 160%;
      transition: max-height var(--transition);

      p {
        color: var(--clr-default-100);
      }
    }

    &:not(:last-child) {
      @media (max-width: em(767)) {
        margin-bottom: 2rem;
      }
    }

    &.active {
      padding-bottom: 2.5rem;
      transition: padding-bottom var(--transition);

      .faq__item-title {
        &::before {
          transform: translateY(-50%) rotate(180deg);
          transition: transform var(--transition);
        }
      }
    }
  }
}
