.header {
  display: flex;
  align-items: center;
  min-height: 8rem;

  @media (max-width: em(575)) {
    min-height: 6rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
